*{margin:0;padding:0;}
.parent{
  position:absolute;
  width:100%;
  height:60px;
  background-color: white;
  overflow:hidden;
}

.block1,.block2{
  position:absolute;
  display:flex;
  flex-wrap:wrap;
  width:100%;
}

.block1{
  right:-100%;
}

.block2{
  right:0%;
}

.c1,.c2,.c3{
  width:100%;
  height:60px;
}

.c1{background-color: #324054;}
.c2{background-color: #324054;}
.c3{background-color: #324054;}

.block1, .block2 {
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.block1 {
  animation-name: slideleft;
}

.block2 {
  animation-name: slideleft;
}

@keyframes slideleft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideleft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

h1,h2,h3,h4,h5,h6,p {
  font-family: 'Chakra Petch';
  color: #000000
}

.blink {
  font-family: 'Chakra Petch';
  text-align: left;
  color: #FF9D00;
  animation: blinker 1s linear infinite;
  color: #000000;
  }
  @keyframes blinker {  
  90% { opacity: 0; }
  }
  .blink-one {
  animation: blinker-one 1s linear infinite;
  }
  @keyframes blinker-one {  
  0% { opacity: 0; }
  }
  .blink-two {
  animation: blinker-two 1s linear infinite;
  }
  @keyframes blinker-two {  
  100% { opacity: 0; }
}

.blink1 {
  font-family: 'Chakra Petch';
  text-align: left;
  color: #FF9D00;
  animation: blinker 1s linear infinite;
  color: #000000;
  }
  @keyframes blinker {  
  0% { opacity: 0; }
  }
  .blink-one {
  animation: blinker-one 1s linear infinite;
  }
  @keyframes blinker-one {  
  0% { opacity: 0; }
  }
  .blink-two {
  animation: blinker-two 1s linear infinite;
  }
  @keyframes blinker-two {  
  0% { opacity: 0; }
}

#bottom {
  position: fixed;
  bottom: 0;
  right: 0;
}
